// .card-category {
//   background-size: cover;
//   background-position: center;
//   height: 180px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: white;
//   font-size: 24px;
//   font-weight: bold;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   border-radius: 5px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   &:hover {
//      box-shadow: 0 0 30px rgba(0,0,0,0.8);
//    }
// }

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
     box-shadow: 0 0 30px rgba(0,0,0,0.8);
   }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .flip-card {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .flip-card {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .flip-card {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .flip-card {
    grid-template-columns: 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .flip-card {
    grid-template-columns: 1fr;
  }
}

.title-link {
   text-decoration: none;
   color: #E6F4E5;

   &:hover {
     text-decoration: none;
     color: white;
   }
}

.card-trip {
  overflow: hidden;
  background: white;
  opacity: 0.8;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 30%;
  height: 50%;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: 20px;
  width: 40px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}


.flip-card {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 16px;
  background-color: transparent;
  // width: 300px;
  display: flex;
  height: 200px;
  border: 1px solid white;
  border-radius: 3%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #F0EFEE;
  color: black;
  border: 1px solid white;
  border-radius: 3%;
}

/* Style the back side */
.flip-card-back {
  background-color: #F0EFEE;
  color: black;
  border: 1px solid white;
  border-radius: 3%;
  transform: rotateY(180deg);
}

.flip-card-back p {
  color: black !important;
  margin-top: 72px;
}

.card-remove-link {
  color: #3E4038;
  border-radius: 50%;
  border: 1px #3E4038;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  opacity: 0.7;
  // transform: rotate(45deg);
  font-weight: lighter;
  &:hover {
    color: black;
    text-decoration: none;
    opacity: 1;
  }
}

.card-edit-link {
  color: #3E4038;
  border-radius: 50%;
  border: 1px #3E4038;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  opacity: 0.7;
  // transform: rotate(45deg);
  font-weight: lighter;
  &:hover {
    color: black;
    text-decoration: none;
    opacity: 1;
  }
}
